@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

select {
  appearance: none;
  outline: none;
  border: none;
}

.slider-customer .slick-track {
  gap: 32px;
  display: flex !important;
}

.slider-customer .slick-slide {
  max-width: 255px;
}

.select-customer-2 {
  border: 2px solid #e6e8ec !important;
  cursor: pointer;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0;
}
